In [2]:
import pandas as pd
import os
import numpy as np

In [21]:
# Newly Registered business data
df = pd.read_csv("/Users/nigel/SFPropertyTax/Registered_Business_Locations_-_San_Francisco.csv")

# Concats all years in tax data directory to calculate neighborhood appreciation
sf_tax_path = "/Users/nigel/SFPropertyTax/data/"
tax_df = pd.concat([pd.read_csv(sf_tax_path + df) for df in os.listdir(sf_tax_path)], sort=True)
tax_df["RP1LNDVAL"] = tax_df["RP1LNDVAL"].astype(float)

# Only select taxed values > $0
tax_df = tax_df[tax_df["RP1LNDVAL"] > 0][['RP1LNDVAL', 'MAZIPCODE', "ROLLYEAR"]]

# Convert decimal year to string
tax_df['ROLLYEAR'] = (2000 + tax_df['ROLLYEAR']).astype(str).str[:-2].astype(float)



# median_pricing = median_pricing[median_pricing.index.get_level_values(1) != "2007"]

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2901: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2901: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2901: DtypeWarning: Columns (9,32) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

      MAZIPCODE  ROLLYEAR  RP1LNDVAL
0           BT7    2007.0   538342.0
1           BT7    2008.0   549108.0
2           BT7    2009.0   560090.0
3           BT7    2010.0   558763.0
4           BT7    2011.0   562968.0
5           CAN    2007.0   123704.0
6           CAN    2008.0   126178.0
7           CAN    2009.0   128701.0
8           T2T    2008.0   962370.0
9           T2T    2009.0   981617.0
10          T2T    2010.0   979290.0
11         0236    2014.0   358620.0
12         0704    2013.0   733849.0
13         0855    2013.0   235000.0
14         0855    2014.0   236066.0
15         1000    2014.0    84777.0
16         1002    2007.0   585063.0
17         1002    2013.0   222765.0
18         1002    2014.0   235062.0
19         1012    2007.0   966450.0
20         1012    2008.0   985779.0
21         1012    2009.0  1005494.0
22         1175    2013.0   146465.0
23         2087    2010.0   182951.0
24         2087    2011.0   419500.0
25         2087    2012.0   427890.0
26         2087    2013.0   436447.0
27         2087    2014.0   438426.0
28         2170    2007.0   373320.0
29         2210    2007.0  1680816.0
...         ...       ...        ...
31388     V8X3T    2011.0     1828.0
31389     V8X3T    2012.0     1500.0
31390     V8X3T    2013.0     1400.0
31391     V8X3T    2014.0     1400.0
31392     V9K26    2007.0   131984.0
31393     V9K26    2008.0   134623.0
31394     V9K26    2009.0   137315.0
31395     V9K26    2010.0   136990.0
31396     V9K26    2011.0   138020.0
31397     V9K26    2012.0   140780.0
31398     V9K26    2013.0   143595.0
31399     V9K26    2014.0   144246.0
31400     VA223    2008.0    31467.0
31401     VA223    2009.0    32096.0
31402     VA223    2010.0    32020.0
31403     VA223    2011.0    32260.0
31404     VA223    2012.0    32905.0
31405     VA223    2013.0    33563.0
31406     VA223    2014.0    33715.0
31407     VGR 1    2007.0   347329.0
31408     VGR 1    2008.0   354275.0
31409     W8 7P    2007.0   332732.5
31410      WKBX    2008.0   243122.0
31411      WKBX    2009.0   731340.0
31412      WKBX    2010.0   729607.0
31413      WKBX    2011.0   735099.0
31414      WKBX    2012.0   749800.0
31415      WKBX    2013.0   764796.0
31416      WKBX    2014.0   768268.0
31417     Y0105    2014.0   980117.0

[31418 rows x 3 columns]

In [52]:
# Group by zip code and year to get median price
median_pricing = tax_df.groupby(["MAZIPCODE", "ROLLYEAR"]).median()
median_pricing = median_pricing.reset_index()

# Calculate percent in appreciation/depreciation 
median_pricing["pct_change"] = np.where((median_pricing['MAZIPCODE'] == median_pricing['MAZIPCODE'].shift(1)) &
                                        (median_pricing['ROLLYEAR'] == median_pricing['ROLLYEAR'].shift(1) + 1)
                                        ,median_pricing['RP1LNDVAL'] / median_pricing['RP1LNDVAL'].shift(1) - 1, np.nan)


land_value_counts = tax_df.groupby(["MAZIPCODE", "ROLLYEAR"]).count().reset_index()
median_pricing = median_pricing.merge(land_value_counts, on=["MAZIPCODE", "ROLLYEAR"])
median_pricing = median_pricing.rename(columns={"RP1LNDVAL_x": "RP1LNDVAL", "RP1LNDVAL_y":"land_value_counts"})
median_pricing['previous year land value count'] = np.where((median_pricing['ROLLYEAR'] == median_pricing['ROLLYEAR'].shift(1) + 1) &
                                                            (median_pricing["MAZIPCODE"] == median_pricing['MAZIPCODE'].shift(1)),
                                                            median_pricing['land_value_counts'].shift(1), np.nan)


# Eliminated median prices with insufficient number of tax value samples. Couldn't get a good median value with insufficient samples
median_pricing = median_pricing[(median_pricing['land_value_counts'] > 200) & (median_pricing['previous year land value count'] > 200)]
median_pricing.sort_values("pct_change").head()

,MAZIPCODE,ROLLYEAR,RP1LNDVAL,pct_change,land_value_counts,previous year land value count
22178,94104,2014.0,121132.0,-0.508594,1000,868.0
22177,94104,2013.0,246501.0,-0.476113,868,638.0
13682,80129,2014.0,26063.0,-0.411285,535,231.0
10469,60062,2009.0,1800.0,-0.408478,1180,1126.0
10758,60606,2013.0,17995.0,-0.303114,312,543.0

In [57]:
df['Business Start Date'] = pd.to_datetime(sf_business['Business Start Date'])
sf_business = df[(df['City'] == "San Francisco") & (df['Business Start Date'] > '2007-01-01')]

new_businesses_count = sf_business.groupby([sf_business['Mail Zipcode'], sf_business['Business Start Date'].dt.year])['Transient Occupancy Tax'].count()
new_businesses_count.head()

Mail Zipcode  Business Start Date
-             2016                   1
01026         2019                   1
01095         2018                   1
01474         2007                   1
01535         2017                   1
Name: Transient Occupancy Tax, dtype: int64

In [61]:
new_median_pricing = median_pricing.reset_index()
reset_businesses_count = pd.DataFrame({'new business count': sf_business.groupby([sf_business['Mail Zipcode'], sf_business['Business Start Date'].dt.year]).size()}).reset_index()
reset_businesses_count.head()
new_median_pricing['ROLLYEAR'] = new_median_pricing['ROLLYEAR'].astype(int)
reset_businesses_count['Business Start Date'] = reset_businesses_count['Business Start Date'].astype(int)

In [62]:
merged_df = pd.merge(new_median_pricing, reset_businesses_count, how='left', left_on=['ROLLYEAR','MAZIPCODE'], right_on=['Business Start Date','Mail Zipcode'])
merged_df.head()

,index,MAZIPCODE,ROLLYEAR,RP1LNDVAL,pct_change,land_value_counts,previous year land value count,Mail Zipcode,Business Start Date,new business count
0,5215,22314,2008,41505.0,0.019979,244,243.0,NaN,NaN,NaN
1,5216,22314,2009,44137.0,0.063414,247,244.0,NaN,NaN,NaN
2,10468,60062,2008,3043.0,0.019772,1126,1092.0,NaN,NaN,NaN
3,10469,60062,2009,1800.0,-0.408478,1180,1126.0,NaN,NaN,NaN
4,10470,60062,2010,1800.0,0.000000,1207,1180.0,NaN,NaN,NaN

In [63]:
final_df = merged_df[['ROLLYEAR', "Mail Zipcode", "new business count", "pct_change", "RP1LNDVAL"]].dropna()

In [67]:
final_df = final_df.rename(columns={"RP1LNDVAL":"median land value price"}).sort_values("new business count", ascending=False)
final_df.head()

,ROLLYEAR,Mail Zipcode,new business count,pct_change,median land value price
152,2014,94110,418.0,0.062268,242810.0
151,2013,94110,399.0,0.092849,228577.0
109,2013,94103,396.0,0.068476,302853.0
150,2012,94110,369.0,0.104932,209157.0
130,2013,94107,361.0,0.118523,313200.0

In [19]:
by_pct_change = final_df.groupby(final_df["pct_change"].apply(lambda x: round(x, 1)))['new business count'].describe().sort_index(ascending=False)
by_pct_change[by_pct_change['count'] > 30]

            count       mean        std  min  25%  50%   75%    max
pct_change
 0.3         35.0  15.857143  48.926201  1.0  2.0  3.0   5.5  247.0
 0.2         77.0  11.688312  33.514828  1.0  1.0  3.0   7.0  204.0
 0.1        247.0  57.481781  88.170374  1.0  3.0  9.0  92.5  418.0
 0.0        293.0  41.767918  74.393719  1.0  2.0  5.0  29.0  328.0
-0.1         55.0  14.381818  36.010539  1.0  2.0  3.0   7.5  207.0

In [14]:
median_pricing

      MAZIPCODE  ROLLYEAR  RP1LNDVAL  pct_change  land_value_counts
208       00000    2007.0   119474.0         NaN                 75
209       00000    2008.0   124166.5    0.039276                 66
210       00000    2009.0   124300.0    0.001075                 61
211       00000    2010.0   126349.0    0.016484                 56
212       00000    2011.0   133737.0    0.058473                 51
213       00000    2012.0   136411.0    0.019994                 51
2338      10019    2011.0   106203.0   -0.950513                169
2339      10019    2012.0   109691.0    0.032843                135
2435      10038    2008.0  1101122.5   -0.896148                 58
2436      10038    2009.0  2324043.0    1.110613                 59
2476      10105    2010.0  3567793.0   -0.327598                 59
2477      10105    2012.0  3024629.0         NaN                 58
2478      10105    2013.0  3102654.5    0.025797                 58
2479      10105    2014.0  3778207.0    0.217734                 57
5139      22203    2010.0    42235.0   -0.869511                239
5214      22314    2007.0    40692.0         NaN                243
5215      22314    2008.0    41505.0    0.019979                244
5216      22314    2009.0    44137.0    0.063414                247
6321      30326    2013.0   177713.0         NaN                 79
6592      32256    2009.0   380572.0   -0.122592                 56
6593      32256    2010.0   294817.5   -0.225331                 62
6740      32821    2013.0   636928.0   -0.627217                 53
10467     60062    2007.0     2984.0         NaN               1092
10468     60062    2008.0     3043.0    0.019772               1126
10469     60062    2009.0     1800.0   -0.408478               1180
10470     60062    2010.0     1800.0    0.000000               1207
10471     60062    2011.0     1750.0   -0.027778               1352
10472     60062    2012.0     1500.0   -0.142857               1357
10473     60062    2013.0     1400.0   -0.066667               1261
10474     60062    2014.0     1400.0    0.000000               1265
...         ...       ...        ...         ...                ...
27210     95746    2009.0    33563.0    0.185972                 53
27211     95746    2010.0    36285.0    0.081101                 52
27212     95746    2011.0    31147.0   -0.141601                 51
27213     95746    2012.0    48895.0    0.569814                 54
27215     95746    2014.0    34339.5   -0.172572                 52
27217     95747    2008.0    41616.0   12.872000                 79
27246     95762    2013.0    79500.0    1.230859                 54
27247     95762    2014.0   165553.0    1.082428                 59
27393     95825    2008.0   146756.5    4.289952                102
27394     95825    2009.0   148116.0    0.009264                 97
27395     95825    2010.0   147765.0   -0.002370                 91
27396     95825    2011.0   136205.0   -0.078232                 87
27397     95825    2012.0   135698.0   -0.003722                 88
27440     95831    2007.0   102242.0         NaN                 52
27441     95831    2008.0   114443.5    0.119339                 54
27442     95831    2009.0   116731.5    0.019992                 54
27443     95831    2010.0    95289.0   -0.183691                 62
27444     95831    2011.0    93638.0   -0.017326                 68
27445     95831    2012.0    95510.0    0.019992                 70
27446     95831    2013.0    79316.0   -0.169553                 60
27447     95831    2014.0    76913.5   -0.030290                 64
27521     95864    2007.0    54341.0         NaN                 51
27522     95864    2008.0    86209.0    0.586445                 53
27523     95864    2009.0   116014.0    0.345730                 59
27524     95864    2010.0   130878.0    0.128122                 61
27525     95864    2011.0    88384.0   -0.324684                 57
27526     95864    2012.0   115635.0    0.308325                 61
27527     95864    2013.0    84116.0   -0.272573                 61
27528     95864    2014.0   107000.0    0.272053                 63
31252     V5C 6    2012.0    90927.0         NaN                334

[1335 rows x 5 columns]

In [15]:
m

NameError: name 'm' is not defined

In [16]:
land_value_counts = tax_df.groupby(["MAZIPCODE", "ROLLYEAR"]).count().reset_index()
land_value_counts.head()

  MAZIPCODE  ROLLYEAR  RP1LNDVAL
0       BT7    2007.0          1
1       BT7    2008.0          1
2       BT7    2009.0          1
3       BT7    2010.0          1
4       BT7    2011.0          1

In [17]:
median_pricing[median_pricing['land_value_counts'] > 20]

      MAZIPCODE  ROLLYEAR  RP1LNDVAL  pct_change  land_value_counts
208       00000    2007.0   119474.0         NaN                 75
209       00000    2008.0   124166.5    0.039276                 66
210       00000    2009.0   124300.0    0.001075                 61
211       00000    2010.0   126349.0    0.016484                 56
212       00000    2011.0   133737.0    0.058473                 51
213       00000    2012.0   136411.0    0.019994                 51
2338      10019    2011.0   106203.0   -0.950513                169
2339      10019    2012.0   109691.0    0.032843                135
2435      10038    2008.0  1101122.5   -0.896148                 58
2436      10038    2009.0  2324043.0    1.110613                 59
2476      10105    2010.0  3567793.0   -0.327598                 59
2477      10105    2012.0  3024629.0         NaN                 58
2478      10105    2013.0  3102654.5    0.025797                 58
2479      10105    2014.0  3778207.0    0.217734                 57
5139      22203    2010.0    42235.0   -0.869511                239
5214      22314    2007.0    40692.0         NaN                243
5215      22314    2008.0    41505.0    0.019979                244
5216      22314    2009.0    44137.0    0.063414                247
6321      30326    2013.0   177713.0         NaN                 79
6592      32256    2009.0   380572.0   -0.122592                 56
6593      32256    2010.0   294817.5   -0.225331                 62
6740      32821    2013.0   636928.0   -0.627217                 53
10467     60062    2007.0     2984.0         NaN               1092
10468     60062    2008.0     3043.0    0.019772               1126
10469     60062    2009.0     1800.0   -0.408478               1180
10470     60062    2010.0     1800.0    0.000000               1207
10471     60062    2011.0     1750.0   -0.027778               1352
10472     60062    2012.0     1500.0   -0.142857               1357
10473     60062    2013.0     1400.0   -0.066667               1261
10474     60062    2014.0     1400.0    0.000000               1265
...         ...       ...        ...         ...                ...
27210     95746    2009.0    33563.0    0.185972                 53
27211     95746    2010.0    36285.0    0.081101                 52
27212     95746    2011.0    31147.0   -0.141601                 51
27213     95746    2012.0    48895.0    0.569814                 54
27215     95746    2014.0    34339.5   -0.172572                 52
27217     95747    2008.0    41616.0   12.872000                 79
27246     95762    2013.0    79500.0    1.230859                 54
27247     95762    2014.0   165553.0    1.082428                 59
27393     95825    2008.0   146756.5    4.289952                102
27394     95825    2009.0   148116.0    0.009264                 97
27395     95825    2010.0   147765.0   -0.002370                 91
27396     95825    2011.0   136205.0   -0.078232                 87
27397     95825    2012.0   135698.0   -0.003722                 88
27440     95831    2007.0   102242.0         NaN                 52
27441     95831    2008.0   114443.5    0.119339                 54
27442     95831    2009.0   116731.5    0.019992                 54
27443     95831    2010.0    95289.0   -0.183691                 62
27444     95831    2011.0    93638.0   -0.017326                 68
27445     95831    2012.0    95510.0    0.019992                 70
27446     95831    2013.0    79316.0   -0.169553                 60
27447     95831    2014.0    76913.5   -0.030290                 64
27521     95864    2007.0    54341.0         NaN                 51
27522     95864    2008.0    86209.0    0.586445                 53
27523     95864    2009.0   116014.0    0.345730                 59
27524     95864    2010.0   130878.0    0.128122                 61
27525     95864    2011.0    88384.0   -0.324684                 57
27526     95864    2012.0   115635.0    0.308325                 61
27527     95864    2013.0    84116.0   -0.272573                 61
27528     95864    2014.0   107000.0    0.272053                 63
31252     V5C 6    2012.0    90927.0         NaN                334

[1335 rows x 5 columns]