In [188]:
import pandas as pd
import os
import numpy as np

In [258]:
df = pd.read_csv("/Users/nigel/SFPropertyTax/Registered_Business_Locations_-_San_Francisco.csv")

# Gets median pricing data grouped by zip code and year
sf_tax_path = "/Users/nigel/SFPropertyTax/data/"
tax_df = pd.concat([pd.read_csv(sf_tax_path + df) for df in os.listdir(sf_tax_path)], sort=True)
tax_df["RP1LNDVAL"] = tax_df["RP1LNDVAL"].astype(float)


tax_df = tax_df[tax_df["RP1LNDVAL"] > 0][['RP1LNDVAL', 'MAZIPCODE', "ROLLYEAR"]]
tax_df['ROLLYEAR'] = (2000 + tax_df['ROLLYEAR']).astype(str).str[:-2].astype(float)
median_pricing = tax_df.groupby(["MAZIPCODE", "ROLLYEAR"]).median()
median_pricing = median_pricing.reset_index()
median_pricing["pct_change"] = np.where((median_pricing['ROLLYEAR'] - median_pricing['ROLLYEAR'].shift(1) == 1), median_pricing['RP1LNDVAL'] / median_pricing['RP1LNDVAL'].shift(1) - 1, np.nan)
land_value_counts = tax_df.groupby(["MAZIPCODE", "ROLLYEAR"]).count().reset_index()
median_pricing = median_pricing.merge(land_value_counts, on=["MAZIPCODE", "ROLLYEAR"])
median_pricing = median_pricing.rename(columns={"RP1LNDVAL_x": "RP1LNDVAL", "RP1LNDVAL_y":"land_value_counts"})
median_pricing = median_pricing[median_pricing['land_value_counts'] > 50]
# median_pricing = median_pricing[median_pricing.index.get_level_values(1) != "2007"]

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2901: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2901: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2901: DtypeWarning: Columns (9,32) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [259]:
sf_business = df[df['City'] == "San Francisco"]
sf_business.head()

,Location Id,Business Account Number,Ownership Name,DBA Name,Street Address,City,State,Source Zipcode,Business Start Date,Business End Date,...,SF Find Neighborhoods,Current Police Districts,Current Supervisor Districts,Analysis Neighborhoods,:@computed_region_bh8s_q3mv,:@computed_region_yftq_j783,:@computed_region_rxqg_mtj9,:@computed_region_jx4q_fizf,:@computed_region_fyvs_ahh9,:@computed_region_p5aj_wyqh
1,0000028-02-001,28,Ferrando Louise,3101 Laguna Apts,3101 Laguna St,San Francisco,CA,94123.0,09/30/1993,NaN,...,15.0,4.0,6.0,13.0,57.0,13.0,1.0,6.0,17.0,9.0
2,0000052-01-001,52,Ideal Novak Corp,Ideal Novak Corp,8 Mendosa Ave,San Francisco,CA,94116.0,10/01/1968,NaN,...,45.0,10.0,8.0,41.0,29491.0,1.0,4.0,5.0,40.0,8.0
3,0000071-01-001,71,Tournahu George L,Tournahu Arms,1842 Jefferson St,San Francisco,CA,94123.0,10/01/1968,NaN,...,17.0,4.0,6.0,13.0,57.0,13.0,1.0,6.0,17.0,9.0
4,0000071-02-001,71,Tournahu George L,3301 Broderick Apartments,3301 Broderick St,San Francisco,CA,94123.0,10/01/1968,NaN,...,17.0,4.0,6.0,13.0,57.0,13.0,1.0,6.0,17.0,9.0
5,0000071-02-003,71,Tournahu George L,3301 Broderick Apartments,3301 Broderick St,San Francisco,CA,94123.0,10/01/1968,NaN,...,17.0,4.0,6.0,13.0,57.0,13.0,1.0,6.0,17.0,9.0

In [260]:
sf_business['Business Start Date'] = pd.to_datetime(sf_business['Business Start Date'])

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [261]:
sf_business = sf_business[sf_business['Business Start Date'] > '2007-01-01']
new_businesses_count = sf_business.groupby([sf_business['Mail Zipcode'], sf_business['Business Start Date'].dt.year])['Transient Occupancy Tax'].count()

In [262]:
new_businesses_count.head()

Mail Zipcode  Business Start Date
-             2016                   1
01026         2019                   1
01095         2018                   1
01474         2007                   1
01535         2017                   1
Name: Transient Occupancy Tax, dtype: int64

In [263]:
new_median_pricing = median_pricing.reset_index()
reset_businesses_count = pd.DataFrame({'new business count' : sf_business.groupby([sf_business['Mail Zipcode'], sf_business['Business Start Date'].dt.year]).size()}).reset_index()
reset_businesses_count.head()

new_median_pricing['ROLLYEAR'] = new_median_pricing['ROLLYEAR'].astype(int)
reset_businesses_count['Business Start Date'] = reset_businesses_count['Business Start Date'].astype(int)

In [264]:
merged_df = pd.merge(new_median_pricing, reset_businesses_count, how='left', left_on=['ROLLYEAR','MAZIPCODE'], right_on=['Business Start Date','Mail Zipcode'])
merged_df.head()

,index,MAZIPCODE,ROLLYEAR,RP1LNDVAL,pct_change,land_value_counts,Mail Zipcode,Business Start Date,new business count
0,208,00000,2007,119474.0,NaN,75,NaN,NaN,NaN
1,209,00000,2008,124166.5,0.039276,66,NaN,NaN,NaN
2,210,00000,2009,124300.0,0.001075,61,NaN,NaN,NaN
3,211,00000,2010,126349.0,0.016484,56,NaN,NaN,NaN
4,212,00000,2011,133737.0,0.058473,51,NaN,NaN,NaN

In [265]:
final_df = merged_df[['ROLLYEAR', "Mail Zipcode", "new business count", "pct_change", "RP1LNDVAL"]].dropna()

In [280]:
final_df = final_df.rename(columns={"RP1LNDVAL":"median land value price"}).sort_values("new business count", ascending=False)
final_df

,ROLLYEAR,Mail Zipcode,new business count,pct_change,median land value price
357,2014,94110,418.0,0.062268,242810.0
356,2013,94110,399.0,0.092849,228577.0
308,2013,94103,396.0,0.068476,302853.0
355,2012,94110,369.0,0.104932,209157.0
332,2013,94107,361.0,0.118523,313200.0
413,2014,94118,352.0,0.052444,302266.0
349,2014,94109,328.0,0.040267,257479.0
309,2014,94103,327.0,0.019782,308844.0
307,2012,94103,325.0,0.030705,283444.0
333,2014,94107,324.0,0.031363,323023.0
381,2014,94114,322.0,0.039097,353449.0
354,2011,94110,320.0,0.039084,189294.0
301,2014,94102,313.0,0.009445,269654.5
437,2014,94122,301.0,0.072939,229573.0
429,2014,94121,276.0,0.055218,250015.0
317,2014,94104,274.0,-0.508594,121132.0
405,2014,94117,267.0,0.051523,329968.0
445,2014,94123,265.0,0.043334,379614.0
501,2014,94133,264.0,0.042154,307300.0
373,2014,94112,263.0,0.054131,172538.0
493,2014,94132,255.0,0.107550,219410.0
397,2014,94116,255.0,0.050854,222964.0
331,2012,94107,251.0,0.052677,280012.0
353,2010,94110,250.0,0.021401,182174.0
364,2013,94111,247.0,0.269655,339573.0
306,2011,94103,247.0,-0.048881,275000.0
389,2014,94115,239.0,0.051275,333022.0
300,2013,94102,231.0,0.040990,267131.5
314,2011,94104,223.0,-0.016469,441994.0
348,2013,94109,222.0,0.081686,247512.5
...,...,...,...,...,...
685,2014,94520,1.0,0.016287,96470.5
597,2011,94306,1.0,-0.001513,219037.5
688,2009,94521,1.0,0.130974,49716.5
240,2010,94063,1.0,-0.065226,50568.0
239,2009,94063,1.0,-0.775792,54096.5
236,2012,94062,1.0,0.238092,192394.5
235,2011,94062,1.0,0.054913,155396.0
9,2009,10038,1.0,1.110613,2324043.0
20,2010,32256,1.0,-0.225331,294817.5
602,2008,94401,1.0,0.046410,121979.0
1055,2008,94930,1.0,0.019992,78646.5
1256,2010,95409,1.0,0.014669,37386.0
276,2013,94086,1.0,0.002347,182988.0
1107,2012,94952,1.0,0.027365,80005.0
1240,2011,95403,1.0,0.067040,54983.5
594,2008,94306,1.0,0.032706,202762.0
1057,2010,94930,1.0,-0.059371,80246.0
587,2009,94303,1.0,0.388044,179606.0
242,2012,94063,1.0,3.064599,247717.0
244,2008,94065,1.0,-0.016313,90569.0
279,2008,94087,1.0,0.019999,72271.0
591,2013,94303,1.0,-0.760631,59552.0
280,2009,94087,1.0,0.094402,79093.5
283,2012,94087,1.0,0.281663,128743.0
511,2008,94140,1.0,0.083709,161710.0
563,2009,94164,1.0,0.005728,288926.0
566,2012,94164,1.0,0.001083,300422.5
581,2011,94301,1.0,0.001087,348278.0
582,2012,94301,1.0,0.076726,375000.0
1333,2014,95864,1.0,0.272053,107000.0

In [279]:
by_pct_change = final_df.groupby(final_df["pct_change"].apply(lambda x: round(x, 1)))['new business count'].describe().sort_index(ascending=False)
by_pct_change[by_pct_change['count'] > 10]

            count       mean        std  min   25%  50%   75%    max
pct_change
 0.4         18.0  11.777778  25.987679  1.0  1.25  2.0   9.5  111.0
 0.3         35.0  15.857143  48.926201  1.0  2.00  3.0   5.5  247.0
 0.2         77.0  11.688312  33.514828  1.0  1.00  3.0   7.0  204.0
 0.1        247.0  57.481781  88.170374  1.0  3.00  9.0  92.5  418.0
 0.0        293.0  41.767918  74.393719  1.0  2.00  5.0  29.0  328.0
-0.1         55.0  14.381818  36.010539  1.0  2.00  3.0   7.5  207.0
-0.2         21.0   4.952381   6.111270  1.0  2.00  3.0   4.0   27.0

In [243]:
median_pricing

      MAZIPCODE  ROLLYEAR  RP1LNDVAL  pct_change  land_value_counts
208       00000    2007.0   119474.0         NaN                 75
209       00000    2008.0   124166.5    0.039276                 66
210       00000    2009.0   124300.0    0.001075                 61
211       00000    2010.0   126349.0    0.016484                 56
212       00000    2011.0   133737.0    0.058473                 51
213       00000    2012.0   136411.0    0.019994                 51
214       00000    2013.0   141384.5    0.036460                 48
215       00000    2014.0   144282.0    0.020494                 45
2284      10011    2013.0   331500.0   -0.064137                 21
2338      10019    2011.0   106203.0   -0.950513                169
2339      10019    2012.0   109691.0    0.032843                135
2352      10022    2007.0   542886.5         NaN                 28
2353      10022    2008.0   850214.0    0.566099                 21
2355      10022    2010.0   991316.0    0.027657                 21
2360      10023    2007.0   467659.0         NaN                 27
2361      10023    2008.0   463590.0   -0.008701                 25
2365      10023    2012.0   416157.0    0.519154                 21
2366      10023    2013.0   348305.0   -0.163044                 30
2367      10023    2014.0   307848.0   -0.116154                 28
2426      10036    2007.0   764067.0         NaN                 21
2435      10038    2008.0  1101122.5   -0.896148                 58
2436      10038    2009.0  2324043.0    1.110613                 59
2476      10105    2010.0  3567793.0   -0.327598                 59
2477      10105    2012.0  3024629.0         NaN                 58
2478      10105    2013.0  3102654.5    0.025797                 58
2479      10105    2014.0  3778207.0    0.217734                 57
4606      20814    2011.0  1502043.5    4.390034                 24
5139      22203    2010.0    42235.0   -0.869511                239
5143      22203    2014.0  2032795.0    0.004540                 21
5214      22314    2007.0    40692.0         NaN                243
...         ...       ...        ...         ...                ...
27632     95928    2011.0     2000.0   -0.839002                 24
27633     95928    2012.0     1500.0   -0.250000                 24
27634     95928    2013.0     1800.0    0.200000                 24
27635     95928    2014.0     1600.0   -0.111111                 24
27672     95946    2010.0    41210.5    1.353003                 22
27674     95946    2012.0    48672.0    0.410374                 21
27675     95946    2013.0     1400.0   -0.971236                 27
27676     95946    2014.0    14552.0    9.394286                 24
27700     95959    2007.0    19295.0         NaN                 26
27701     95959    2008.0    19680.0    0.019953                 29
27702     95959    2009.0    54972.5    1.793318                 28
27703     95959    2010.0    39985.5   -0.272627                 28
27704     95959    2011.0    42358.5    0.059347                 30
27705     95959    2012.0    56359.0    0.330524                 30
27706     95959    2013.0    41912.0   -0.256339                 26
27707     95959    2014.0    26557.0   -0.366363                 29
28542     96815    2013.0   228938.0    0.832442                 22
28544     96816    2007.0   122205.0         NaN                 22
28545     96816    2008.0   136442.0    0.116501                 23
28546     96816    2009.0   135859.5   -0.004269                 22
28547     96816    2010.0   138840.0    0.021938                 23
28840     97201    2010.0   423640.5   -0.330884                 22
28841     97201    2011.0   536740.0    0.266970                 22
28842     97201    2012.0   579558.5    0.079775                 22
28843     97201    2013.0   419293.0   -0.276530                 21
29260     97471    2013.0      710.0   -0.976008                 25
29261     97471    2014.0      711.0    0.001408                 25
29631     98040    2011.0   183536.0    0.408057                 21
29632     98040    2012.0   234853.0    0.279602                 22
31252     V5C 6    2012.0    90927.0         NaN                334

[2463 rows x 5 columns]

In [244]:
m

      MAZIPCODE  ROLLYEAR  RP1LNDVAL  pct_change
0           BT7    2007.0   538342.0         NaN
1           BT7    2008.0   549108.0    0.019998
2           BT7    2009.0   560090.0    0.020000
3           BT7    2010.0   558763.0   -0.002369
4           BT7    2011.0   562968.0    0.007526
5           CAN    2007.0   123704.0         NaN
6           CAN    2008.0   126178.0    0.019999
7           CAN    2009.0   128701.0    0.019996
8           T2T    2008.0   962370.0         NaN
9           T2T    2009.0   981617.0    0.020000
10          T2T    2010.0   979290.0   -0.002371
11         0236    2014.0   358620.0         NaN
12         0704    2013.0   733849.0         NaN
13         0855    2013.0   235000.0         NaN
14         0855    2014.0   236066.0    0.004536
15         1000    2014.0    84777.0         NaN
16         1002    2007.0   585063.0         NaN
17         1002    2013.0   222765.0         NaN
18         1002    2014.0   235062.0    0.055202
19         1012    2007.0   966450.0         NaN
20         1012    2008.0   985779.0    0.020000
21         1012    2009.0  1005494.0    0.019999
22         1175    2013.0   146465.0         NaN
23         2087    2010.0   182951.0         NaN
24         2087    2011.0   419500.0    1.292964
25         2087    2012.0   427890.0    0.020000
26         2087    2013.0   436447.0    0.019998
27         2087    2014.0   438426.0    0.004534
28         2170    2007.0   373320.0         NaN
29         2210    2007.0  1680816.0         NaN
...         ...       ...        ...         ...
31388     V8X3T    2011.0     1828.0    0.006608
31389     V8X3T    2012.0     1500.0   -0.179431
31390     V8X3T    2013.0     1400.0   -0.066667
31391     V8X3T    2014.0     1400.0    0.000000
31392     V9K26    2007.0   131984.0         NaN
31393     V9K26    2008.0   134623.0    0.019995
31394     V9K26    2009.0   137315.0    0.019997
31395     V9K26    2010.0   136990.0   -0.002367
31396     V9K26    2011.0   138020.0    0.007519
31397     V9K26    2012.0   140780.0    0.019997
31398     V9K26    2013.0   143595.0    0.019996
31399     V9K26    2014.0   144246.0    0.004534
31400     VA223    2008.0    31467.0         NaN
31401     VA223    2009.0    32096.0    0.019989
31402     VA223    2010.0    32020.0   -0.002368
31403     VA223    2011.0    32260.0    0.007495
31404     VA223    2012.0    32905.0    0.019994
31405     VA223    2013.0    33563.0    0.019997
31406     VA223    2014.0    33715.0    0.004529
31407     VGR 1    2007.0   347329.0         NaN
31408     VGR 1    2008.0   354275.0    0.019998
31409     W8 7P    2007.0   332732.5         NaN
31410      WKBX    2008.0   243122.0   -0.269317
31411      WKBX    2009.0   731340.0    2.008119
31412      WKBX    2010.0   729607.0   -0.002370
31413      WKBX    2011.0   735099.0    0.007527
31414      WKBX    2012.0   749800.0    0.019999
31415      WKBX    2013.0   764796.0    0.020000
31416      WKBX    2014.0   768268.0    0.004540
31417     Y0105    2014.0   980117.0         NaN

[31418 rows x 4 columns]

In [225]:
land_value_counts = tax_df.groupby(["MAZIPCODE", "ROLLYEAR"]).count().reset_index()
land_value_counts.head()

  MAZIPCODE  ROLLYEAR  RP1LNDVAL
0       BT7    2007.0          1
1       BT7    2008.0          1
2       BT7    2009.0          1
3       BT7    2010.0          1
4       BT7    2011.0          1

In [232]:
median_pricing[median_pricing['land_value_counts'] > 20]

      MAZIPCODE  ROLLYEAR  RP1LNDVAL  pct_change  land_value_counts
208       00000    2007.0   119474.0         NaN                 75
209       00000    2008.0   124166.5    0.039276                 66
210       00000    2009.0   124300.0    0.001075                 61
211       00000    2010.0   126349.0    0.016484                 56
212       00000    2011.0   133737.0    0.058473                 51
213       00000    2012.0   136411.0    0.019994                 51
214       00000    2013.0   141384.5    0.036460                 48
215       00000    2014.0   144282.0    0.020494                 45
2284      10011    2013.0   331500.0   -0.064137                 21
2338      10019    2011.0   106203.0   -0.950513                169
2339      10019    2012.0   109691.0    0.032843                135
2352      10022    2007.0   542886.5         NaN                 28
2353      10022    2008.0   850214.0    0.566099                 21
2355      10022    2010.0   991316.0    0.027657                 21
2360      10023    2007.0   467659.0         NaN                 27
2361      10023    2008.0   463590.0   -0.008701                 25
2365      10023    2012.0   416157.0    0.519154                 21
2366      10023    2013.0   348305.0   -0.163044                 30
2367      10023    2014.0   307848.0   -0.116154                 28
2426      10036    2007.0   764067.0         NaN                 21
2435      10038    2008.0  1101122.5   -0.896148                 58
2436      10038    2009.0  2324043.0    1.110613                 59
2476      10105    2010.0  3567793.0   -0.327598                 59
2477      10105    2012.0  3024629.0         NaN                 58
2478      10105    2013.0  3102654.5    0.025797                 58
2479      10105    2014.0  3778207.0    0.217734                 57
4606      20814    2011.0  1502043.5    4.390034                 24
5139      22203    2010.0    42235.0   -0.869511                239
5143      22203    2014.0  2032795.0    0.004540                 21
5214      22314    2007.0    40692.0         NaN                243
...         ...       ...        ...         ...                ...
27632     95928    2011.0     2000.0   -0.839002                 24
27633     95928    2012.0     1500.0   -0.250000                 24
27634     95928    2013.0     1800.0    0.200000                 24
27635     95928    2014.0     1600.0   -0.111111                 24
27672     95946    2010.0    41210.5    1.353003                 22
27674     95946    2012.0    48672.0    0.410374                 21
27675     95946    2013.0     1400.0   -0.971236                 27
27676     95946    2014.0    14552.0    9.394286                 24
27700     95959    2007.0    19295.0         NaN                 26
27701     95959    2008.0    19680.0    0.019953                 29
27702     95959    2009.0    54972.5    1.793318                 28
27703     95959    2010.0    39985.5   -0.272627                 28
27704     95959    2011.0    42358.5    0.059347                 30
27705     95959    2012.0    56359.0    0.330524                 30
27706     95959    2013.0    41912.0   -0.256339                 26
27707     95959    2014.0    26557.0   -0.366363                 29
28542     96815    2013.0   228938.0    0.832442                 22
28544     96816    2007.0   122205.0         NaN                 22
28545     96816    2008.0   136442.0    0.116501                 23
28546     96816    2009.0   135859.5   -0.004269                 22
28547     96816    2010.0   138840.0    0.021938                 23
28840     97201    2010.0   423640.5   -0.330884                 22
28841     97201    2011.0   536740.0    0.266970                 22
28842     97201    2012.0   579558.5    0.079775                 22
28843     97201    2013.0   419293.0   -0.276530                 21
29260     97471    2013.0      710.0   -0.976008                 25
29261     97471    2014.0      711.0    0.001408                 25
29631     98040    2011.0   183536.0    0.408057                 21
29632     98040    2012.0   234853.0    0.279602                 22
31252     V5C 6    2012.0    90927.0         NaN                334

[2463 rows x 5 columns]